<nav aria-label="Page navigation" class="navbar navbar-default navbar-fixed-bottom">
  <ul class="pagination pagination-lg" style="margin: 0px">
    <% count = @images.count
       pages_count = (count / @per_page.to_f).ceil
       %>
    <li>
      <%= link_to "<< Previous", {:controller => "home", :action => "welcome", :imgpage => (@current_page - 1 if @current_page > 0)}, data: { turbolinks: false}, :method => :get if (pages_count > 1 and @current_page !=0) %>

    </li>
        <% pages_count.times do |i|
          if @current_page == i %>
            <li class="active"><a href="#" >
            <%= i+1 %>
              </a></li>
        <% next
           end %>
        <li>
        <%= link_to i+1, { :imgpage => i}, :method => :get, data: { turbolinks: false} %>
        </li>

    <% end %>
    <li>
    <%= link_to "Next >>", {:controller => "home", :action => "welcome", :imgpage => (@current_page + 1)}, data: { turbolinks: false}, :method => :get if @current_page < pages_count-1 %>
    </li>
  </ul>
</nav>
<!--
<nav>

<%= link_to "<<", {:controller => "home", :action => "welcome", :imgpage => (@current_page - 1 if @current_page > 0)},:class => "left", data: { turbolinks: false}, :method => :get if (pages_count > 1 and @current_page !=0) %>

<%= link_to ">>", {:controller => "home", :action => "welcome", :imgpage => (@current_page + 1)}, data: { turbolinks: false}, :class =>"right", :method => :get if @current_page < pages_count-1 %>
</nav>
-->